@model SiteEpsi.Client

@{
    ViewBag.Title = "S'inscrire";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Créez une nouveau compte.</h2>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulaire d'inscription</legend>

        <ol>
            <li>
                @Html.LabelFor(model => model.LastName)

                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </li>
            <li>
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </li>
            <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @id = "initialPwd" })
                @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li>
                <label for="confirmPwd">Confirmation Mot de passe</label>
                <input type="password" id="confirmPwd" onchange=verif()/>
                <p id="alertePwd">Les mots de passe ne correspondent pas !</p>
            </li>
            <li>
                @Html.LabelFor(model => model.BirthDate)
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </li>
            <li>
                @Html.LabelFor(model => model.Address1)
                @Html.EditorFor(model => model.Address1)
                @Html.ValidationMessageFor(model => model.Address1)
            </li>
            <li>
                @Html.LabelFor(model => model.Address2)

                @Html.EditorFor(model => model.Address2)
                @Html.ValidationMessageFor(model => model.Address2)
            </li>
            <li>
                @Html.LabelFor(model => model.ZipCode)
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </li>

            <li>
                @Html.LabelFor(model => model.City)
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </li>
            <li>
                <input type="submit" value="S'inscrire" />

            </li>
        </ol>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/verifPwd")

}
<script type="text/javascript">
    function verif() {
        document.getElementById("alertePwd").style.display = 'none';
        var hu = document.getElementById("confirPwd").value;
        var hu2 = document.getElementById("initialPwd").value;
        if (hu != hu2) 
            document.getElementById("alertePwd").style.display = 'block';
         else
            document.getElementById("alertePwd").style.display = 'none';
    }
 

</script>
